<html>
  <head>
    <meta charset="utf-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Schedule Interview</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
    <div class="container-lg mt-3 border ">
    <form acion="#" method="post">
      <div class="field">
      <label class="label">Select Student1</label>
      <div class="control">
      <div class="select">
      <select name="student1">
        {% for user in values %}
               <option>{{user.student_name}}</option> 
        {% endfor %}
      </select> 
      </div>
      </div>
      </div>
      <div class="field">
      <label class="label">Select Student2</label>
      <div class="control">
      <div class="select">
      <select name="student2">
        {% for user in values %}
               <option>{{user.student_name}}</option> 
        {% endfor %}
      </select> 
      </div>
      </div>
      </div>

<!--       <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input "
            type="email"
            placeholder="Email input"
            name="email"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
      </div> 
      <div class="field">
        <label class="label">Interviewer( List to be added)</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Text input"
            name="interviewer"
          />
        </div>
      </div>-->
      <div class="field">
        
        <label class="label">Date</label>
        <div class="control">
          <input
            class="input"
            type="date"
            placeholder="Text input"
            name="date"
          />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="field">
        <label class="label">Start Time</label>
        <div class="control">
          <input
            class="input"
            type="time"
            placeholder="Text input"
            name="start"
          />
        </div>
      </div>
      </div>
     <div class="col-sm-6">
        <div class="field">
        <label class="label">End Time</label>
        <div class="control">
          <input
            class="input"
            type="time"
            placeholder="Text input"
            name="end"
          />
        </div>
      </div>
      </div>
      
      

      <!-- <div class="field">
  <label class="label">Interviewer</label>
  <div class="control">
    <div class="select">
      <select>
        <option>Person 1</option>
        <option>Person 2</option>
         <option>Person 3</option>
        <option>Person 4</option>
      </select>
    </div>
  </div>
</div>
<div id="app">
 <label class="label">Select Date</label>
  <v-app id="inspire">
    <v-row justify="center">
      <v-date-picker v-model="picker" name="date"></v-date-picker>
    </v-row>
  </v-app>
</div>
<div class="field">
  <label class="label">Time Slot</label>
  <div class="control">
    <div class="select">
      <select>
        <option>T 1</option>
        <option>T 2</option>
         <option>T 3</option>
        <option>T 4</option>
      </select>
    </div>
  </div>
</div> -->
       <div class="container pt-3">
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" value="submit">Submit</button>
        </div>
      </div>
        </div> 
    </form>
    </div>
    <div class="container pt-3">
    <div class="field is-grouped">
        <div class="control">
          <a href="/show_all"><button class="button is-link" > Show_all</button></a>
        </div>
    </div>
    </div>
   
    

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
      new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data() {
          return {
            picker: new Date().toISOString().substr(0, 10)
          };
        }
      });
    </script>
  </body>
</html>
