<html >
 <head>
    <meta charset="utf-8">
     <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Show all scheduled</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  </head>
  <body>
  
{% for item in values %}
<p>{{item.id}}</p>
<p>{{item.student_name}}</p>
<p>{{item.interviewer}}</p>
<p>{{item.date_created}}</p>
<p>{{item.slot}}</p>
{% endfor %}


</body>
</html>
