<html >
 <head>
    <meta charset="utf-8">
   <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Schedule Interview</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Show all scheduled</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Student1</th>
      <th scope="col">Student2</th>
      <th scope="col">Date</th>
      <th scope="col">slot</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>        
{% for item in values %}
<tr>
      <th scope="row">{{item.id}}</th>
      <td>{{item.student1}}</td>
      <td>{{item.student2}}</td>
  <td>{{item.date}}</td>
  <td>{{item.slot}}</td>
  <td><a href="/edit/{{item.id}}">edit</a></td>
</tr>  
{% endfor %}
  </tbody>
</table>
    <div class="field is-grouped">
        <div class="control">
          <a href="/"><button class="button is-link" > Insert</button></a>
        </div>
      </div>
</body>
</html>
